:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

h2{ 
  font-size: 64px;
  font-weight: 700;
   font-family: var(--heading-font-family);
}

p{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
   font-family: var(--default-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 96px;
  font-weight: 700;
  line-height: 100pt;
  padding-bottom: 0px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  color: #272142;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-family: var(--default-font-family);
  color: #272142;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin: 0px;
}

.about-section {
   padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 1.5;
    font-family: var(--heading-font-family);
     color: black;
 
  font-weight: 700;
}

.about-section h2 {
  font-size: 18px;
  font-family: car(--default-font-family);
}

.about-section-content {
  margin: 30px;
}



.btn-branding {
  padding: 15px 30px;
  border-radius: 4px;
  background-color: var(--branding-color);
  color: white;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline {
  padding: 15px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  background-color: white;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.project-description {
  padding: 120px 60px;
 
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 50px;
     line-height: 30pt;
  }

  .hero h2 {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .hero p {
    font-size: 25px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
 
  padding: 50px 20px;
}

.about-section {
  text-align: center;
  padding: 5px;
}

  .project-description {
    padding: 0;
    text-align: center;

  }
}